<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kzq.advance.mapper.TPwBillMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.kzq.advance.domain.TPwBill">
		<id column="id" property="id" />
		<result column="bill_status" property="billStatus" />
		<result column="biz_dt" property="bizDt" />
		<result column="biz_user_id" property="bizUserId" />
		<result column="date_created" property="dateCreated" />
		<result column="goods_money" property="goodsMoney" />
		<result column="input_user_id" property="inputUserId" />
		<result column="ref" property="ref" />
		<result column="supplier_id" property="supplierId" />
		<result column="warehouse_id" property="warehouseId" />
		<result column="payment_type" property="paymentType" />
		<result column="data_org" property="dataOrg" />
		<result column="company_id" property="companyId" />
		<result column="expand_by_bom" property="expandByBom" />
		<result column="bill_memo" property="billMemo" />
	</resultMap>
	<resultMap id="PwBillResultMap" type="com.kzq.advance.domain.vo.PwBillVo">
		<id column="id" property="id" />
		<result column="bill_status" property="billStatus" />
		<result column="biz_dt" property="bizDt" />
		<result column="biz_user_id" property="bizUserId" />
		<result column="date_created" property="dateCreated" />
		<result column="goods_money" property="goodsMoney" />
		<result column="input_user_id" property="inputUserId" />
		<result column="ref" property="ref" />
		<result column="supplier_id" property="supplierId" />
		<result column="warehouse_id" property="warehouseId" />
		<result column="payment_type" property="paymentType" />
		<result column="data_org" property="dataOrg" />
		<result column="company_id" property="companyId" />
		<result column="expand_by_bom" property="expandByBom" />
		<result column="bill_memo" property="billMemo" />
		<result column="warehouse_name" property="warehouseName" />
		<result column="biz_user_name" property="userName" />
		<result column="supplier_name" property="supplierName" />
		<result column="name" property="goodsName" />
		<result column="code" property="code" />
		<result column="unitName" property="unitName" />
		<result column="goods_count" property="goodsCount" />
		<result column="express_code" property="expressCode"/>
	</resultMap>
	<select id="findTPwBillById" resultMap="PwBillResultMap" parameterType="String">
		  select p.ref, p.bill_status, p.supplier_id, s.name as supplier_name,
				p.warehouse_id, w.name as  warehouse_name,p.biz_user_id,p.goods_money,
				u.name as biz_user_name, p.biz_dt, p.payment_type,p.bill_memo
				from t_pw_bill p, t_supplier s, t_warehouse w, t_user u
				where p.id = #{id} and p.supplier_id = s.id and p.warehouse_id = w.id
				and p.biz_user_id = u.id
	</select>
	<select id="findDetailById" resultMap="PwBillResultMap" parameterType="String">
		 select p.id, p.goods_id, g.code, g.name, g.spec, u.name as unit_name,p.goods_count
					from t_pw_bill_detail p, t_goods g, t_goods_unit u
					where p.goods_Id = g.id and g.unit_id = u.id and p.pwbill_id = #{id}
					order by p.show_order
	</select>
	<update id="updateTPwBill" parameterType="com.kzq.advance.domain.TPwBill">
           update t_pw_bill set bill_status=#{bill_status} where id=#{id}
	</update>


	<select id="findPwBillList" resultMap="PwBillAndDetailResultMap" parameterType="String">
		SELECT
		t_pw_bill.id,
		t_pw_bill.bill_status,
		t_pw_bill.ref,
		t_pw_bill.biz_dt ,
		t_pw_bill.bill_memo,
		t_pw_bill.express_and_code,
		t_warehouse.NAME AS warehouse_name,
		t_supplier.`name`AS supplier_name,
		t_user.NAME AS biz_user_name
		FROM
		t_pw_bill
		LEFT JOIN t_supplier ON t_pw_bill.supplier_id = t_supplier.id
		LEFT JOIN t_user ON t_user.id = t_pw_bill.biz_user_id
		LEFT JOIN t_warehouse ON t_warehouse.id = t_pw_bill.warehouse_id
		<where>
			<if test="keywords!=null and keywords!=''">
				and (t_warehouse.name like CONCAT('%',#{keywords},'%') or t_pw_bill.ref like CONCAT('%',#{keywords},'%'))
			</if>
			<if test="wareHoseId!=null and wareHoseId!=''">
				and t_warehouse.id=#{wareHoseId};
			</if>
		</where>
	</select>
	<resultMap id="PwBillAndDetailResultMap" type="com.kzq.advance.domain.vo.PwBillVo">
		<id column="id" property="id" />
		<result column="bill_status" property="billStatus" />
		<result column="biz_dt" property="bizDt" />
		<result column="biz_user_id" property="bizUserId" />
		<result column="date_created" property="dateCreated" />
		<result column="goods_money" property="goodsMoney" />
		<result column="input_user_id" property="inputUserId" />
		<result column="ref" property="ref" />
		<result column="supplier_id" property="supplierId" />
		<result column="warehouse_id" property="warehouseId" />
		<result column="payment_type" property="paymentType" />
		<result column="data_org" property="dataOrg" />
		<result column="company_id" property="companyId" />
		<result column="expand_by_bom" property="expandByBom" />
		<result column="bill_memo" property="billMemo" />
		<result column="warehouse_name" property="warehouseName" />
		<result column="biz_user_name" property="userName" />
		<result column="supplier_name" property="supplierName" />
		<result column="name" property="goodsName" />
		<result column="code" property="code" />
		<result column="unitName" property="unitName" />
		<result column="goods_count" property="goodsCount" />
		<result column="express_and_code" property="expressCode"/>
		<collection property="tPwBillDetails" column="id"
					ofType="com.kzq.advance.domain.TPwBillDetail"
					javaType="java.util.List" select="selectTPwBillDetailById">
		</collection>
	</resultMap>
	<select id="selectTPwBillDetailById" resultMap="TPwBillDetailResultMap" parameterType="java.lang.String">
		SELECT
			t_goods.NAME as good_name,
			t_pw_bill_detail.goods_count
		FROM
			t_pw_bill_detail
			LEFT JOIN t_goods ON t_goods.id = t_pw_bill_detail.goods_id
			where t_pw_bill_detail.pwbill_id=#{id};
	</select>
	<resultMap id="TPwBillDetailResultMap" type="com.kzq.advance.domain.TPwBillDetail" >
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="date_created" property="dateCreated" jdbcType="TIMESTAMP" />
		<result column="goods_id" property="goodsId" jdbcType="VARCHAR" />
		<result column="goods_count" property="goodsCount" jdbcType="DECIMAL" />
		<result column="goods_money" property="goodsMoney" jdbcType="DECIMAL" />
		<result column="goods_price" property="goodsPrice" jdbcType="DECIMAL" />
		<result column="pwbill_id" property="pwbillId" jdbcType="VARCHAR" />
		<result column="show_order" property="showOrder" jdbcType="INTEGER" />
		<result column="data_org" property="dataOrg" jdbcType="VARCHAR" />
		<result column="memo" property="memo" jdbcType="VARCHAR" />
		<result column="company_id" property="companyId" jdbcType="VARCHAR" />
		<result column="pobilldetail_id" property="pobilldetailId" jdbcType="VARCHAR" />
		<result column="good_name" property="goodName" jdbcType="VARCHAR"/>
	</resultMap>
</mapper>
